{% extends "presentation/access-control/base.html" %}
{%block contenido%}
    <script type="text/javascript">

        var app = angular.module('inputs', []);

        app.controller("add", 
            function($scope,$http,$location){
                $scope.nombreDpt = ""
                $scope.idDpt     = 0


                $scope.enviar = function() {
                    console.log(angular.toJson($scope.nombreDpt));
                    var data = {}
                    data["nombreDpt"] = $scope.nombreDpt;
                    data["idDpt"]     = $scope.idDpt;
                    
                    console.log(angular.fromJson(data));

                    $http.post("/dpt", angular.fromJson(data)).success(
                        function(data){
                            $scope.gists = data;

                        }
                    );

                };

                $scope.borrarT = function(){
                    this.nombreDpt = ""
                }                
                $scope.borrarN = function(){
                    this.idDpt = ""
                }
            }
            
        );

    </script>

    <h1>Bienvenido a la página de control de departamentos</h1>

    <form ng-app="inputs" ng-controller="add" method="get" >
        <ul class="lista">
            <li class="elemento">
                Nombre del departamento: 
            </li>            
            <li class="elemento">
                <input type="text"   ng-mousedown="borrarT()" ng-model="nombreDpt"/>
            </li>
            <li class="elemento">
                Id:
            </li>            
            <li class="elemento">
                <input type="number"   ng-mousedown="borrarN()" ng-model="idDpt"/>
            </li>
            <li class="elemento">
                <input type="submit" ng-click="enviar()">
            </li>
        </ul>
        
    </form>

    
{%endblock%}